{% extends 'base.html.twig' %}

{% block body %}
    <!-- Three Column Section -->
    <div class="container elements">
        
        <div class="row my-5">
            <center>saesaboua@gmail.com</center>
        </div>
    </div>

	<!-- End Socket -->

	<div class="container my-5"></div>

{% endblock %}
