{% extends 'base.html.twig' %}

{% block body %}
    <!-- Three Column Section -->
    <div class="container elements">
        <h1>Bienvenue sur Esca-bati-niger</h1>
        <div class="row my-5">

        </div>
    </div>

	<!-- End Socket -->

	<div class="container my-5"></div>

{% endblock %}
